

<!-- <div *ngIf="!proceed"> -->

    <form [formGroup]="passengerInfoForm" (ngSubmit)="onPassengerInfo(passengerInfoForm)">
        <div>
            <div class="card">
                <div class="passenger_info d-flex justify-content-between align-self-center">
                    <div>
                        <h3>Journey Details</h3>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-success" value="Proceed Further" [disabled]="!passengerInfoForm.valid">
                    </div>
                </div>
                <hr />
                <div class="d-flex justify-content-around">
                    <div class="d-flex flex-column">
                        <div>
                            <strong>Train No/Name :</strong>
                            <strong> {{ train.tcode }} / {{ train.tname }} </strong>
                        </div>

                        <div>
                            <strong>From Station :</strong>
                            <strong> {{ train.fromPlace }}</strong>
                        </div>

                        <div>
                            <strong>Boarding Station :</strong>
                            <strong> {{ train.fromPlace }}</strong>
                        </div>
                    </div>

                    <div class="d-flex flex-column">
                        <div>
                            <strong>Journey Date :</strong>
                            <strong> {{ train.date }} </strong>
                        </div>

                        <div>
                            <strong>To Station :</strong>
                            <strong> {{ train.toPlace }}</strong>
                        </div>

                        <div>
                            <strong>Dropping Station :</strong>
                            <strong> {{ train.toPlace }}</strong>
                        </div>
                    </div>


                    <div class="d-flex flex-column">
                        <div>
                            <strong>Journey Duration :</strong>
                            <strong> {{ train.duration }} </strong>
                        </div>

                        <div>
                            <strong>Class :</strong>
                            <strong> {{ trainClass | uppercase }} </strong>
                        </div>

                        <div>
                            <strong>Cost :</strong>
                            <strong>{{ train.seat[trainClass].cost }} </strong>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="passenger_info d-flex justify-content-between">
                    <div>
                        <h3>Passenger Details</h3>
                    </div>
                    <div>
                        <button class="btn btn-danger" (click)="onAddPassenger()">Add Passenger</button>
                    </div>
                </div>
                <ng-container formArrayName="passengerArraay">
                    <table class="table table-bordered table-responsive-sm table-responsive-md">

                        <thead class="thead-primary">
                            <tr class="border">
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Seat</th>
                                <th>Meal</th>
                                <th>Senior</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let passenger of passengerInfoForm.get('passengerArraay')['controls'];index as i">
                                <ng-container [formGroupName]="i">
                                    <td>{{ i+1 }} </td>
                                    <td><input type="text" formControlName="passengerName"></td>
                                    <td><input type="number" formControlName="passengerAge" min=0 max=100></td>
                                    <td>
                                        <select plceholder="select" formControlName="passengerGender">
                                            <!-- <option value="" disabled selected>Select Gender</option> -->
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select formControlName="passengerBerth">
                                            <!-- <option value="" disabled selected>Select Berth</option> -->
                                            <option value="No Preference">No Preference</option>
                                            <option value="lower">LOWER</option>
                                            <option value="upper">UPPER</option>
                                            <option value="cabin">CABIN</option>
                                            <option value="couple">COUPLE</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select formControlName="passengerMeal">
                                            <!-- <option value="" disabled selected>Select Meal</option> -->
                                            <option value="veg">Veg</option>
                                            <option value="non-veg">Non-Veg</option>
                                        </select>
                                    </td>
                                    <td><input type="checkbox" formControlName="passengerSenior"></td>
                                </ng-container>
                            </tr>

                        </tbody>


                    </table>

                </ng-container>
                <hr />
            </div>
            <div class="card">
                <div class="children_info d-flex justify-content-between align-items-center">
                    <div>
                        <h3>Children Below 5 Years</h3>
                        <span class="text-danger">Ticket is Not Be Issued.</span>
                    </div>
                    <div>
                        <button class="btn btn-danger" (click)="onAddChildren()">Add Children</button>
                    </div>
                </div>


                <ng-cotnainer formArrayName="childrenArray">
                    <table class="table table-bordered table-responsive-sm table-responsive-md">

                        <thead class="thead-primary">
                            <tr class="border">
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let children of passengerInfoForm.get('childrenArray')['controls'];index as j">
                                <ng-container [formGroupName]="j">
                                    <td>{{ j+1 }} </td>
                                    <td><input type="text" formControlName="childrenName"></td>
                                    <td><input type="number" formControlName="childrenAge" min=0 max=100></td>
                                    <td>
                                        <select plceholder="select" formControlName="childrenGender">
                                            <!-- <option value="" disabled selected>Select Gender</option> -->
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </td>
                                </ng-container>
                            </tr>

                        </tbody>
                    </table>
                  </ng-cotnainer>

            </div>
        </div>
    </form>
<!-- </div> -->


