hr {
  margin: 10px;
}

input {
  min-width: 40%;
}

.ticket_detail_Container {
  border-radius: 10px;
  overflow: hidden;
}
div.header_detail {
  padding: 1%;
  background-color: rgb(27, 27, 99);
  color: white;
}

/* th,td{
    border: 1px solid black;
} */
table td {
  position: relative;
}
.passenger_info {
  width: 100%;
  color: white;
  padding: 10px;
  background-color: rgb(27, 27, 99);
}

.children_info {
  width: 100%;
  color: white;
  padding: 10px;
  background-color: rgb(27, 27, 99);
}
table td select {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}
table td input {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

tr td input.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: 0 0 5px inset red;
}

