input.ng-touched.ng-invalid {
  border: red;
  box-shadow: 0 0 5px inset red;
}

.card_container {
  height: 100%;
  width: 100%;
  /* background-color: rgba(250, 128, 114, 0.5); */
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.card_wrapper {
  margin-top: 1%;
  /* backdrop-filter: grayscale(0.5) opacity(0.8); */
  /* z-index: ; */
  /* height: 80%; */
  width: 70%;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px rgba(128, 128, 128, 0.5);
}

.credit_card_wrapper {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(27, 27, 99);
}
.credit_card_header {
  padding: 2%;
  color: white;
  background-color: rgb(27, 27, 99);
}
button {
  background-color: rgb(27, 27, 99);
  color: white;
}
button:hover {
  transition: ease-in-out 0.1s;
  transform: scale(1.01);
  background-color: rgb(27, 27, 99);
  color: white;
}
hr {
  margin-right: 3%;
  margin-left: 3%;
}
.row {
  overflow: hidden;
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
}
.paymentInfo {
  padding: 0;
  height: 100%;
  background-color: rgb(27, 27, 99);
  color: white;
}

@media (max-width: 1350px) {
  * {
    font-size: x-large;
  }
}
@media (max-width: 1200px) {
  * {
    font-size: x-large;
  }
}
@media (max-width: 1024px) {
  * {
    font-size: large;
  }
}
@media (max-width: 860px) {
  * {
    font-size: smaller;
  }
}
