<div class="card_container d-flex flex-column justify-content-center align-items-center">
 
    <div class="card card_wrapper card">
        <div class="row card-body m-0 p-0 overflow-hidden">
            <div class="col-6 col-xs-12 h-100 paymentInfo m-0 p-0">
                <div>
                    <h1 class="text-center">RAIL YATRI</h1>
                    <hr />
                </div>
                <h4 class="text-center">PAYMENT INFO</h4>
                <hr />
                <div class="d-flex justify-content-around flex-column">
                    <div class="mx-5">
                        <h3>Amount</h3>
                        <h3>{{ pInfoAmount }} &#8377;</h3>
                    </div>
                    <hr />
                    <div class="mx-5">
                        <h3>Date</h3>
                        <h3>{{ pInfoDate }}</h3>
                    </div>
                    <hr />
                    <div class="mx-5">
                        <h3>Confirmation Number</h3>
                        <h3>12332434</h3>
                    </div>
                    <hr />

                </div>
            </div>

            <div class="col-6 col-xs-12 ">
                <form [formGroup]="creditCardForm" (ngSubmit)="onSubmitCardDetail(creditCardForm)">
                    <div>
                        <h1>Payment Detail</h1>
                        <hr>
                        <div>
                            <h4>Pay Using Credit Card</h4>
                            <div class="card credit_card_wrapper">
                                <div class="credit_card_header">
                                    <h5>Credit Card Detail</h5>
                                </div>
                                <div class="credit_card_body px-2 pb-1">
                                    <div>
                                        <small>Credit Card Number</small>
                                        <input type="text" class="form-control" formControlName="cardNumber"
                                            placeholder="Enter Credit Card Number">
                                    </div>
                                    <div>
                                        <div class="d-flex justify-content-around">
                                            <div class="mr-4">
                                                <small class="text-right">Expiry Date</small>
                                                <input type="text" formControlName="expiryDate" class="form-control"
                                                    placeholder="DD/YY">
                                            </div>
                                            <div class="ml-4 align-self-right cvv_wrapper">
                                                <small>CVV</small>
                                                <input type="text" formControlName="cvvNumber" class="form-control cvv"
                                                    placeholder="CVV">
                                            </div>
                                        </div>
                                        <div>
                                            <small>Card Holder Number</small>
                                            <input type="text" class="form-control" formControlName="cardName"
                                                placeholder="Enter Credit Card Holder Name">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex justify-content-between align-items-center mx-3 mt-2">
                                <div class="align-self-center">
                                    <label>Enter OTP</label>
                                </div>
                                <div>
                                    <input type="text" class="form-control" placeholder="Enter OTP Number"
                                        formControlName="otpNumber">
                                </div>
                            </div>
                          
                            <div class="pt-2">
                                <button [disabled]="!creditCardForm.valid" class="w-100 btn">Make Payment</button>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </div>
     
    </div>
</div>