.train_list_container {
  min-width: 20%;
  flex-wrap: wrap;
}
div {
  flex-wrap: wrap;
}

.train_arrival_day {
  color: white;
  /* border: 1px solid green; */
  font-size: smaller;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 60%;
  background-color: green;
}
.train_not_arrival_day {
  border: 1px solid green;
  font-size: smaller;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 60%;
  color: green;
  background-color: white;
}
div.search_card {
  position: relative;
  height: 60px;
  display: flex;
}

div.search_card input {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 20px;
  box-sizing: border-box;
}

@media (max-width: 1350px) {
  * {
    font-size: x-large;
  }
}
@media (max-width: 1200px) {
  * {
    font-size: x-large;
  }
}
@media (max-width: 1024px) {
  * {
    font-size: large;
  }
}
@media (max-width: 860px) {
  * {
    font-size: small;
  }
}
div.booking_seat_container:hover {
  color: white;
  background-color: rgb(226, 142, 64);
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
  border: 3px solid black;
  border-radius: 10px;
}
div.sleeper:hover {
  background-color: rgb(141, 141, 221);
}

div.ac2:hover {
  background-color: rgb(233, 92, 92);
}

div.ac3:hover {
  background-color: rgb(212, 7, 7);
}

hr {
  position: relative;
  width: 80%;
  margin: 0px auto;
}

.card {
  box-shadow: 0 0 10px gray;
  border: 3px solid green;
  padding: 10px;
}
.special_case {
  color: red;
  padding: 3px;
  border-radius: 10px;
  border: 1px solid red;
}
.special_case:hover {
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid red;
  background-color: red;
}
.not_sepcial_case {
  visibility: hidden;
}
