
<div class="container-fluid train_list_container d-flex flex-column">
    <div class="card search_card">
        <input type="text" class="form-control" placeholder="Filter Train By Typeing" [(ngModel)]="searchText">
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="col-md-12 train_preinfo d-flex justify-content-around">
                <div class="d-flex flex-row">
                    <strong class="mx-1">Train-Code</strong>

                    <ng-container *ngIf="tcodeasec">
                        <i (click)="ontcodeAscClick('tcode')" class="bi bi-caret-up-square-fill"></i>
                    </ng-container>
                    <ng-container *ngIf="!tcodeasec">
                        <i (click)="ontcodeAscClick('tcode')" class="bi bi-caret-down-square-fill"></i>
                    </ng-container>

                    <!-- <icon></icon> -->
                </div>
                <div class="d-flex flex-row">
                    <strong class="mx-1">Depature</strong>
                    <ng-container *ngIf="depasec">
                        <i (click)="ondepAscClick('dep')" class="bi bi-caret-up-square-fill"></i>
                    </ng-container>
                    <ng-container *ngIf="!depasec">
                        <i (click)="ondepAscClick('dep')" class="bi bi-caret-down-square-fill"></i>
                    </ng-container>
                </div>
                <div class="d-flex flex-row">
                    <strong class="mx-1">Arrival </strong>
                    <ng-container *ngIf="arrasec">
                        <i (click)="onarrAscClick('arr')" class="bi bi-caret-up-square-fill"></i>
                    </ng-container>
                    <ng-container *ngIf="!arrasec">
                        <i (click)="onarrAscClick('arr')" class="bi bi-caret-down-square-fill"></i>
                    </ng-container>
                </div>
                <div class="d-flex flex-row">
                    <strong class="mx-1">Duration</strong>
                    <ng-container *ngIf="durasec">
                        <i (click)="ondurAscClick('dur')" class="bi bi-caret-up-square-fill"></i>
                    </ng-container>
                    <ng-container *ngIf="!durasec">
                        <i (click)="ondurAscClick('dur')" class="bi bi-caret-down-square-fill"></i>
                    </ng-container>
                </div>

            </div>
        </div>
    </div>
    <!--  | filter:searchText |paginate: { itemsPerPage: 3, currentPage: p } -->

    <div class="card m-3"
        *ngFor="let train of trains | orderBy:orderBasedType:orderType | filter:searchText |paginate: { itemsPerPage: 3, currentPage: p}">
        <div class="row">
            <div class="col-md-12 train_preinfo d-flex justify-content-around">
                <div class="d-flex- flex-column">
                    <h4>{{train.tname | uppercase}}-{{train.tcode}}</h4>
                    <div class="d-flex justify-content-around">
                        <p [class]="t.value === true ? 'train_arrival_day':'train_not_arrival_day'"
                            *ngFor="let t of train.days | keyvalue: orderOriginal ">{{ t.key[0] | uppercase }}</p>
                    </div>
                </div>
                <div class="d-flex- flex-column">
                    <h4>Depature</h4>
                    <h1>{{train.depature}}</h1>
                </div>
                <div class="d-flex flex-column">
                    <h4>Arrival</h4>
                    <h1>{{ train.arrival}}</h1>
                </div>
                <div class="d-flex flex-column">
                    <h4>Duration</h4>
                    <h1>{{train.duration}}</h1>
                </div>

            </div>
            <hr />
            <div class="d-flex justify-content-around">
                <div class="d-flex justify-content-around align-items-center">
                    <div>
                        <h4>Distance: 55</h4>
                        <strong>{{ train.date }}</strong> &nbsp;
                        <small [class]="train.isSpecial === true ? 'special_case':'not_sepcial_case'">Special
                            Train</small>
                        <!-- <p>55</p> -->
                        <!-- <p>Covid Special</p> -->
                    </div>
                    <!-- <div>
                        <h1>></h1>
                    </div> -->
                    <!-- <div>
                        <h4><strong>Destination</strong></h4>
                        <p>Ahmedabad</p>
                    </div> -->
                    <!-- <div>
                        <h1>ACs</h1>
                    </div> -->
                </div>
                <div class="d-flex flex-column justify-content-around align-self-center">
                    <div>
                        <h4 class="text-center">Seat Available</h4>
                    </div>
                    <div class="d-flex">

                        <div (click)="onNavigateeToPassengerInfo(train,'thirdClass')"
                            class="d-flex flex-column align-items-center justify-content-around px-2 booking_seat_container">
                            <strong>{{train.seat.thirdClass.abbr}} - {{ train.seat.thirdClass.cost }}
                                &#8377;</strong>
                            <div class="d-flex justify-content-around">
                                <div *ngFor="let sc of train.seat.thirdClass.avail | keyvalue:orderOriginal"
                                    class="d-flex flex-column mx-3">
                                    <small>{{ sc.key }}</small>
                                    <small>{{ sc.value }}</small>
                                </div>
                            </div>
                        </div>


                        <div (click)="onNavigateeToPassengerInfo(train,'secondSeating')"
                            class="d-flex flex-column align-items-center justify-content-around px-2 booking_seat_container sleeper">
                            <strong>{{train.seat.secondSeating.abbr}} - {{ train.seat.secondSeating.cost }}
                                &#8377;</strong>
                            <div class="d-flex justify-content-around">
                                <div *ngFor="let sc of train.seat.secondSeating.avail | keyvalue:orderOriginal"
                                    class="d-flex flex-column mx-3">
                                    <small>{{ sc.key }}</small>
                                    <small>{{ sc.value }}</small>
                                </div>
                            </div>
                        </div>

                        <div (click)="onNavigateeToPassengerInfo(train,'sleeperCoach')"
                            class="d-flex flex-column align-items-center justify-content-around px-2 booking_seat_container ac2">
                            <strong>{{train.seat.sleeperCoach.abbr}} - {{ train.seat.sleeperCoach.cost }}
                                &#8377;</strong>
                            <div class="d-flex justify-content-around">
                                <div *ngFor="let sc of train.seat.sleeperCoach.avail | keyvalue:orderOriginal"
                                    class="d-flex flex-column mx-3">
                                    <small>{{ sc.key }}</small>
                                    <small>{{ sc.value }}</small>
                                </div>
                            </div>
                        </div>
                        <div (click)="onNavigateeToPassengerInfo(train,'secondClass')"
                            class="d-flex flex-column align-items-center justify-content-around px-2 booking_seat_container ac3">
                            <strong>{{train.seat.secondClass.abbr}} - {{ train.seat.secondClass.cost }}
                                &#8377;</strong>
                            <div class="d-flex justify-content-around">
                                <div *ngFor="let sc of train.seat.secondClass.avail | keyvalue:orderOriginal"
                                    class="d-flex flex-column mx-3">
                                    <small>{{ sc.key }}</small>
                                    <small>{{ sc.value }}</small>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="d-flex justify-content-around align-items-center">
                    <div><strong>Quota - </strong></div>
                    <div *ngFor="let q of train.quota"><span>{{q}},</span></div>
                </div>

            </div>
          
        </div>

    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>