<div class="d-flex justify-content-between header align-items-center">
    <div>
        <h2>Rail Yatri</h2>
    </div>
    <div *ngIf="!token">
        <button class="btn btn-success">
            <h3>Login</h3>
        </button>
    </div>
    <div *ngIf="token">
        <button class="btn btn-success" (click)="onLogout()">
            Logout
        </button>
    </div>

</div>