<div class="bg-form">
    <div class="row">
        <div class="col-md-6">
            <div class="uform">
                <form [formGroup]="userForm" (ngSubmit)="onUserFormSubmit(userForm)">
                    <input type="text" class="form-control" placeholder="Enter User Name" formControlName="username">
                    <small *ngIf="userForm.controls['username'].hasError('pattern')  && userForm.get('username').touched">
                       Username At least 3 Character Long.
                    </small>

                    <input type="password" class="form-control" placeholder="Enter User Password"
                        formControlName="userpassword">

                    <small
                        *ngIf="userForm.controls['userpassword'].hasError('pattern') && userForm.get('userpassword').touched">
                        Password must contain at least 1 upper, lower and special Character and length 6.
                    </small>
                  <div class="row d-flex flex-row">
                        <div class="col-md-6 d-flex flex-row justify-content-around">
                            <div class="align-self-center">
                                <strong>Captcha</strong>
                            </div>
                            <div class="captcha_code">
                                <h1>{{ leftNumber }}+ {{RightNumber}}</h1>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" formControlName="captchaNumber">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-right mr-2 text-danger" (click)="onRefresh()">Refresh</div>
                        </div>
                        <div class="col-md-6">
                            <small class="text-right d-block"
                                *ngIf="!userForm.get('captchaNumber').valid && userForm.get('captchaNumber').touched">Please
                                Enter Captcha</small>
                        </div>
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Login" class="btn-color btn btn-success">
                    </div>
                    <!-- <input type="date" class="form-control" id="datepicker" (change)="onChangeCalled(this)" (click) ="onClick(this)"> -->

                </form>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>