div.bg-form{
    background: url('/assets/train_bg.png');
    opacity: 0.9;
    top: 0;
    position:fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
}
.captcha_code{
    height: 100%;
    background-color: grey;
    color: white;
}
.captcha_code{
    height: 90%;
    background-color: grey;
    color: white;
    text-decoration: overline line-through underline ;
}

.uform{
    border-radius: 10px;
    border: 30px solid salmon;
    width: 80%;
    margin: 30% auto;
    padding: 10px;
    background-color: white;
}
small{
    color:red
}
input{
    margin: 10px auto;
    padding: 10px;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 5px inset red;
}
.btn-color{
    width: 100%;
    color:black;
    background-color: salmon;
    border-color: salmon;
}
strong{
    vertical-align: center;
}