<div class="container-fluid">
    <div class="d-flex justify-content-around flex-wrap">
        <div class="form-container d-flex flex-column">
            <div>
                <h3>Source</h3>
            </div>
            <div class="source_block">
                <div class="ng-autocomplete">
                    <ng-autocomplete [data]="junctions" [searchKeyword]="keyword" placeholder="Enter Source"
                        (selected)='sourceselectEvent($event)' (inputChanged)='onSourceChangeSearch($event)'
                        (inputFocused)='onSourceFocused($event)' historyIdentifier="junctions" [itemTemplate]="sourceitemTemplate"
                        [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #sourceitemTemplate let-item>
                        <a [innerHTML]="item.name"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            </div>
            <small *ngIf="sourceFocused && !sourceItem" class="text-danger">Please Enter Source</small>
        </div>
        <div class="to-container d-flex flex-column">
            <div>
                <h3>Destination</h3>
            </div>
            <div class="ng-autocomplete">
                <ng-autocomplete [data]="junctions" [searchKeyword]="keyword" placeholder="Enter Destination"
                    (selected)='destinationselectEvent($event)' (inputChanged)='onDestinationChangeSearch($event)'
                    (inputFocused)='onDestinationFocused($event)' historyIdentifier="junctions" [itemTemplate]="destinationitemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #destinationitemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
            <small *ngIf="destinationFocused && !destinationItem" class="text-danger">Please Enter Destination</small>
       
        </div>
        <div class="travel-class-container d-flex flex-column">
            <div>
                <h3>Class</h3>
            </div>
            <div class="ng-autocomplete">
                <ng-autocomplete [data]="classTypes" [searchKeyword]="keyword" placeholder="Enter the Class"
                    (selected)='classselectEvent($event)' (inputChanged)='onClassChangeSearch($event)'
                    (inputFocused)='onClassFocused($event)' historyIdentifier="ClassTypes" [itemTemplate]="classitemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #classitemTemplate let-item>
                    <span [innerHTML]="item.name"></span>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
            <small *ngIf="classFocused && !classItem" class="text-danger">Please Enter Source</small>
       
        </div>
        <div class="travel-date-container d-flex flex-column date-spaccer">
            <div>
                <h4>Date</h4>
            </div>
            <div class="date_container" class="ng-autocomplete">
                <input id="myDate1" type="date" class="date" min=minDate max=maxDate (change)="onDateInput()">
            </div>
        </div>
        <div class="travel-date-container d-flex flex-column">
            <div class="train_search_head">
                <h3>Train Search</h3>
            </div>
            <div class="ng-autocomplete align-self-end btn_search">
                <button class="btn btn-success" [disabled]="!dateAvail && !enableSearch" (click)="searchResult()">
                    Search Result.
                </button>
            </div>
        </div>
    </div>
</div>
<br />
<app-train-available *ngIf="enableSearch && dateAvail"></app-train-available>