input[type="date"] {
  /* -webkit-align-items: center; */
  /* display: -webkit-inline-flex;
  font-family: monospace;
  overflow: hi5dden;
  padding: 40%;
  -webkit-padding-start: 1px; */
  /* height: 100%;
  width: 100%; */
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0px;
  box-sizing: border-box;
  position: relative;
}

div.train_search_head {
  visibility: hidden;
}


.travel_class_menu {
  padding: 10px;
  border: 4px solid green;
  border-radius: 3px;
}
.ng-autocomplete {
  width: 100%;
}

@media (max-width: 1350px) {
  * {
    font-size: x-large;
  }
  div.space-container {
    margin: 1%;
  }
}
@media (max-width: 1200px) {
  * {
    font-size: x-large;
  }
  div.space-container {
    margin-top: 10%;
  }
}
@media (max-width: 1024px) {
  * {
    font-size: small;
  }
  div.space-container {
    margin-top: 10%;
  }
}
@media (max-width: 860px) {
  * {
    font-size: small;
  }
  div.space-container {
    margin-top: 10%;
  }
}

@media (max-width: 860px) {
  * {
    font-size: small;
  }
  div.space-container {
    margin-top: 10%;
  }
}

div.date_container {
  position: absolute;
}
input {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1 px solid black;
  padding: 10px;
  box-sizing: border-box;
}

