<div class="container">
    <div class="card ticket_detail_Container">
        <div class="d-flex flex-column">
            <div class="journey_details_container">
                <div class="header_detail">
                    <h4>Journey Details</h4>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="d-flex flex-column">
                        <div>
                            <strong>Train No/Name :</strong>
                            <strong> {{ train.tcode }} / {{ train.tname }} </strong>
                        </div>

                        <div>
                            <strong>From Station :</strong>
                            <strong> {{ train.fromPlace }}</strong>
                        </div>

                        <div>
                            <strong>Boarding Station :</strong>
                            <strong> {{ train.fromPlace }}</strong>
                        </div>
                    </div>

                    <div class="d-flex flex-column">
                        <div>
                            <strong>Journey Date :</strong>
                            <strong> {{ train.date }} </strong>
                        </div>

                        <div>
                            <strong>To Station :</strong>
                            <strong> {{ train.toPlace }}</strong>
                        </div>

                        <div>
                            <strong>Dropping Station :</strong>
                            <strong> {{ train.toPlace }}</strong>
                        </div>
                    </div>


                    <div class="d-flex flex-column">
                        <div>
                            <strong>Journey Duration :</strong>
                            <strong> {{ train.duration }} </strong>
                        </div>

                        <div>
                            <strong>Class :</strong>
                            <strong> {{ trainClass | uppercase }} </strong>
                        </div>

                        <div>
                            <strong>Cost :</strong>
                            <strong>{{ train.seat[trainClass].cost }} </strong>
                        </div>
                    </div>
                </div>

            </div>
 
            <div class="passenger_details_container">
                <div class="header_detail">
                    <h4>Passenger Details</h4>
                </div>
                <div class="d-flex m-2" *ngFor="let pa of passengerInfo.passengers">
                    <div class="d-flex flex-row justify-content-between w-100">
                        <div>
                            <strong>Name : {{ pa.passengerName }}</strong>
                        </div>
                        <div>
                            <strong>Age : {{ pa.passengerAge }}</strong>
                        </div>
                        <div>
                            <strong>Gender : {{ pa.passengerGender }}</strong>
                        </div>
                        <div>
                            <strong>Berth : {{ pa.passengerSeat }}</strong>
                        </div>
                        <div>
                            <strong>Meal : {{ pa.passengerMeal }} </strong>
                        </div>
                        <div>
                            <strong>Senior : {{ pa.passengerSenior }}</strong>
                        </div>
                        <div>

                        </div>
                    </div>


                </div>

            </div>
            <div class="journey_details_container d-flex justify-content-around m-2">
                <div class="w-50 m-1">
                    <div class="header_detail">
                        <h4>Available Details</h4>
                    </div>

                    <div>
                       
                        <div class="d-flex">
                            <h4 class="m-2">Available At</h4>
                            <h4 class="m-2">{{ train.date }}</h4>
                        </div>
                    </div>
                </div>
                <div class="w-50 m-1">
                    <div class="header_detail">
                        <h4>Fair Details</h4>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between m-2">
                            <h5>Ticket Fare</h5>
                            <h5>{{ passengerInfo.ticketCost }} &#8377;</h5>
                        </div>

                        <div class="d-flex justify-content-between m-2">
                            <h5>Service Charge</h5>
                            <h5>{{ passengerInfo.serviceCost }} &#8377;</h5>
                        </div>
                        <div class="d-flex justify-content-between m-2">
                            <h5>Discount For Citizen(0.50 / F ,0.40 / M)</h5>
                            <h5> {{ passengerInfo.discountCost }} &#8377;</h5>
                        </div>

                        <div class="d-flex justify-content-between m-2">
                            <h5>Total Fair</h5>
                            <h5> {{ passengerInfo.totalCost }} &#8377;</h5>
                        </div>

                    </div>

                </div>

            </div> 


        </div>
        <div class="d-flex justify-content-around align-items-center">
            <button class="btn btn-danger" (click)="OnModify()">
                Modify
            </button>
            <button class="btn btn-success" (click)="OnPayment()">
                Make A Payment.
            </button>
        </div>
    </div>
</div>

