<div class="container">
    <div class="success_container d-flex flex-column justify-content-center ">
        <div class="success_img text-center">
            <img src="assets/success.png" style="max-height: 20%;max-width: 10%;">
        </div>
        <div>
            <h1 class="text-success">
                Congratulations !, You Have Successfully Booked a Ticket.
            </h1>
        </div>

        <div class="d-flex column-wrap justify-content-around w-100">
            <div class="d-flex flex-column row-wrap">
                <h4>Train Number</h4>
                <strong>{{ passengerInfo.tcode }}</strong>
            </div>
            <div class="d-flex flex-column align-items-center row-wrap">
                <h4>Booking Date</h4>
                <strong>{{ passengerInfo.date }}</strong>
            </div>
            <div class="d-flex flex-column align-items-center  row-wrap">
                <h4>Adult</h4>
                <strong>{{ passengerInfo.totalPassenger }}</strong>
            </div>
            <div class="d-flex flex-column align-items-center  row-wrap">
                <h4>Child</h4>
                <strong>{{ passengerInfo.totalChildren }}</strong>
            </div>
            <div class="d-flex flex-column align-items-center row-wrap">
                <h4>Class</h4>
                <strong>{{ passengerInfo.class }}</strong>
            </div>
            <div class="d-flex flex-column row-wrap">
                <h4>Quota</h4>
                <strong>GENERAL</strong>
            </div>
        </div>
        <hr />
        <div>
            <div>
                <h3>{{ passengerInfo.tname }}({{ passengerInfo.tcode }}) </h3>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <strong>source</strong>
                    <h2>{{ passengerInfo.source }}</h2>
                    <strong>Depature : {{ passengerInfo.depature }}</strong>
                </div>
                <div>
                    <strong>Destination</strong>
                    <h2>AHMEDABAD</h2>
                    <strong>Arrival : {{ passengerInfo.arrival }}</strong>
                </div>

            </div>
        </div>
        <hr />
        <div>
            <div class="d-flex justify-content-around">
                <div>
                    <h4>KM</h4>
                    <strong>{{ passengerInfo.km }}</strong>
                </div>
                <div>
                    <h4>Type</h4>
                    <strong>E-Ticket</strong>
                </div>
                <div>
                    <h4>Total Fare</h4>
                    <strong>{{ passengerInfo.totalCost }} R</strong>
                </div>

            </div>
        </div>
        <hr />
        <div>
            <h4>Passenger</h4>
            <hr />
            <div class="d-flex justify-content-around">
                <div>
                    <h4>Status</h4>
                    <strong>Confirmed</strong>
                </div>
                <div>
                    <h4>Coach</h4>
                    <strong>S8</strong>
                </div>
                <div>
                    <h4>Seat / Berth / WL</h4>
                    <strong>12(WL)</strong>
                </div>

            </div>
        </div>
    </div>
    <br>
    <div>
        <small class="text-danger">*Please Carry Identification Proof Along Ticket , While Travelling.</small>
    </div>
</div>