/* 
div.head_not_found{
   height: 100px;
   width: 100px;
} */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.box div {
  color: salmon;
}
