/* You can add global styles to this file, and also import other style files */

/* @import url("./assets/css/bootstrap.css");
@import url("./assets/css/bootstrap-grid.css");
@import url("./assets/css/bootstrap-grid.min.css");
@import url("./assets/css/bootstrap-reboot.css");
@import url("./assets/css/bootstrap.min.css"); */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* @import url("../assets/css/leaflet/leaflet.css"); */
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.btn-success:hover {
  box-shadow: 0 0 10px salmon;
}

.btn-success:focus {
  box-shadow: 0 0 10px salmon;
}
input[type="text"] .nginvalid .ngtouched {
  border: 1px solid red;
}

/* body {
    background-color: salmon;
} */

@media (max-width: 1350px) {
  * {
    font-size: x-large;
  }
}
@media (max-width: 1200px) {
  * {
    font-size: x-large;
  }
}
@media (max-width: 1024px) {
  * {
    font-size: large;
  }
}
@media (max-width: 860px) {
  * {
    font-size: small;
  }
}

ol, ul {
    color: green;
    margin: auto 0px;
    padding-left: 35%;
    padding-right:30% ;
}

input.ng-invalid .ng-toched{
  border: 1px solid red;
}
